/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* INDEX STYLE */
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
input,
button {
    box-shadow: none;
    outline: 0;
    border: 0;
}


/* General style */
body{
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    color: var(--textLight);
    background-color: #E6E6E6;
}
/* Variable */
.root{
    --primary: #36AE65;
    --textDark: rgb(35, 45, 56);
    --textLight:rgb(122, 122, 122);
    --bg: #E9ECFC;
}
.container{
    max-width: 1360px;
    margin: 0 auto;
    width:100%; 
    padding: 0 32px;
    /* border: 2px solid red; */
}
.padding{
    padding: 50px 0;
}
/* FLEX-BOX */
.flex{
    display: flex;
}
.justify-evenly{
    justify-content: space-evenly;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: flex-end;
}
.column{
    flex-direction: column;
}
.item-start{
    align-items: flex-start;
}
.item-stretch{
    align-items: stretch;
}
.item-center{
    align-items: center;
}
/* Column */
.flex-20{
    flex: 0 1 20%;
}
.flex-33{
    flex: 0 1 30%;
}
.flex-50{
    flex: 0 50%;
}
.flex-48{
    flex: 0 1 48%;
    border-bottom: 1px dotted red;
}
/* CENTER ELEMENTS */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* TEXTS */
.text-center{
    text-align: center;
}
.text-primar{
    color: var(--primary);
}
.font-0{
 font-size: 0;
}
.btn{
    font-size: 12px;
    padding: 12px 32px;
    color: #ffff;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: none;
    outline: 0;
    border: 0;
    display: inline-block;
    background-color:#36AE65;
    margin: 0 auto;
    border-radius: 5px;
    /* margin-bottom: 20px; */
}
/* NAVIGATION BAR */

.nav-bar {
    padding: 12px 0;
    background-color: #222946;
}
.nav-menu-item{
margin-left: 32px;
}
.nav-menu-item a{
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
}
.nav-menu-item .active{
    color: #36AE65;
}
/* Article Section */
.article-section{
    background-color: #E9ECFC;
}
.article-content{
   
   
}
.article-img img{
    width: 100%;
    /* padding: 20px; */
}
.h1{
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}
.article-content-p{
    width: 100%;
    font-size: 16px;
    text-transform: capitalize;
    color: var(--textDark);
    margin: 20px 0;
}
/* BLOG SECTION */
.blog-section{
  background-color: #FFFFFF;
}
.blog-section-h1{
    text-align: center;
    margin-bottom: 20px;
}
.blog-para{
    text-transform: capitalize;
    font-size: 14px;
    margin: 10px 0;
    color: var(--textDark);
}
.blog-img img{
    width: 100%;
}
h2{
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 500;
}
/* FOOTER SECTION */
.footer{
    /* margin-left: 20px; */
    padding: 30px;
    background-color: #222946;
}
small{
    font-size: 24px;
    color:#BCC0D2;
    margin-left: 30px;
}
.footer-items a{
    font-size: 24px;
    color:#BCC0D2;
    border-radius: 50px;
    margin-left: 20px;
}
/* Resposive */
@media screen and (max-width: 768px){
    .col{
        flex: 0 1 100%;
        margin-bottom: 10px; 
    }
    .flex-direction{
        flex-direction: column-reverse;
    }
    .article-img img{
      margin-bottom: 20px;
    }
    .column{
        flex-direction: column;
    }
    .flex-wrap{
    flex-wrap: wrap;
    }

}